<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>post_list.html</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body cz-shortcut-listen="true">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">My blog MTF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>
          </li>
          
        </ul>
        
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">My awesome blog!</h1>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        	{% for post in posts %}
        		<div class="col-md-12" style="margin-top:30px;">
        			<small>{{ post.created_date }}</small>
		            <h2>{{ post.title }} </h2>
		            <p>{{ post.text|linebreaksbr }}</p>
		            <p><a class="btn btn-sm btn-secondary" href="/admin/blog/post/{{ post.id }}/change/" role="button">Update »</a></p>
		        </div>

			{% endfor %}
          
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

</body>
</html>